@import url('https://fonts.googleapis.com/css?family=Lusitana');
html, body {
	cursor: default;
	margin: 0;
	padding: 0;
	background: #faf8ef;
	color: #776e65;
	font-family: "Lusitana", "Times New Roman", Times, serif;
	font-size: 12pt;
}

p {
	margin: 0;
	line-height: 1.65;
}

a {
	color: #776e65;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

h1 {
	margin: 150px 0 0 0;
	font-size: 60pt;
	color: #7D0000;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.container {
	width: calc(100% - 400px);
	height: calc(100% - 200px);
	position: fixed;
	top: 0;
}

.container-right {
	width: 400px;
	height: calc(100% - 200px);
	position: fixed;
	top: 0;
	left: calc(100% - 400px);
}

#map-center {
	margin: auto;
	display: table;
}

#build-div {
	overflow: auto;
	display: none;
}

#market-div {
	text-align: center;
	overflow: auto;
	display: none;
}

#more-div {
	overflow: auto;
	display: none;
}

#family-div {
	overflow: auto;
}

.content-build{
	padding: 10px;
	overflow: hidden;
}

.content-market{
	display: inline-block;
	text-align: right;
}

.content-more{
	display: inline-block;
	text-align: left;
	padding: 10px;
}

.content-family{
	text-align: left;
	padding: 10px;
	overflow: hidden;
}

.toolbar ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50px;
    background-color: #d8d4d0;
    position: fixed;
	bottom: 0;
    overflow: auto;
	font-size: 14pt;
}

.toolbar li a {
	display: block;
    color: #000;
    text-decoration: none;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}

.toolbar li a:hover {
    background-color: #555;
    color: white;
}

.active-button {
	background-color: #999;
}

.footer-wrapper-logger{
	margin-left: 50px;
	padding: 0;
	height: 200px;
	width: calc(40% - 50px);
	position: fixed;
	float: left;
	bottom: 0;
	background-color: #555;
	color: white;
	font-size: 12pt;
	overflow: auto;
}

.footer-logger {
	padding: 5px 5px 5px 5px;
	float: left;
	width: calc(100% - 20px);
	overflow: hidden;
}

.footer-wrapper-resources{
	margin: 0;
	padding: 0;
	height: 200px;
	width: 60%;
	position: fixed;
	bottom: 0;
	right:0;
	background-color: #555;
	color: white;
	font-size: 12pt;
	overflow: auto;
}

.footer-resources {
	padding: 5px 5px 5px 5px;
	width: calc(100% - 20px);
	overflow: hidden;
}

.resource {
	border-radius: 5px;
	background-color: #776e65;
	color: white;
	float: left;
	padding: 2px;
	margin: 2px;
	width: 150px;
}

.building {
	background-color: #776e65;
	color: white;
	display: inline-block;
	padding: 5px;
	margin: 5px;
	width: 150px;
}

.building a {
	display: block;
	background-color: #555;
    color: white;
    margin: 5px;
	padding: 5px;
    text-decoration: none;
}

.building img {
	margin: 0 35px;
	width: 80px;
	height: 80px;
}

.building-title {
	font-size: 14pt;
	margin-bottom: 5px;
}

.building-cost {
	margin-left: 5px;
}

.product {
	margin-top: 10px;
	line-height: 1.8;
}

.product a {
	display: inline;
	background-color: #776e65;
    color: white;
    margin: 5px;
	padding: 5px;
    text-decoration: none;
}

.product input {
	width: 50px;
	text-align: right;
}

.person {
	line-height: 30px;
}

.person a {
	margin: 5px;
	line-height: 20px;
	width: 20px;
	height: 20px;
	display: inline-block;
	background-color: #776e65;
	color: white;
	text-decoration: none;
	border-radius: 10px;
	text-align: center;
}

.person-info {
	margin-left: 30px;
}

.person-info a {
	margin: 5px;
	width: initial;
	border-radius: initial;
	padding: 5px;
}

.shop-info a {
	background-color: #776e65;
	color: #faf8ef;
	padding: 0 5px;
	margin: 5px;
	height: 20px;
	width: 20px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
}

#info-text {
	display: none;
	position: fixed;
	width: 50%;
	top: 20px;
	left: calc(25% - 200px);
	padding: 5px;
	z-index: 43;
	background: rgba(119, 110, 101, 0.8);
	color: rgba(250, 248, 239, 0.8);
	text-align: center;
}

#info-text:hover {
	background: rgba(119, 110, 101, 0.5);
	color: rgba(250, 248, 239, 0.5);
}

#info {
	display: none;
	position: fixed;
	padding: 5px;
	z-index: 42;
	background: #faf8ef;
	color: #776e65;
	width: 200px;
}

#load-screen  p {
	margin-bottom: 100px;
}

#load-bar {
	margin: auto;
	width: 50%;
	height: 20px;
	background: #555;
	border-radius: 25px;
	padding: 5px;
}

#load-status {
	display: block;
	height: 100%;
	width: 6px;
	border-radius: 20px;
	background: #7D0000;
}

#game-over {
	display: none;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	-ms-animation: fadein 2s;
	-o-animation: fadein 2s;
	animation: fadein 2s;
}

.full-screen {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	color: #faf8ef;
	background: #776e65;
	text-align: center;
}