@import url('https://fonts.googleapis.com/css?family=Lusitana');
html, body {
	cursor: default;
	margin: 0;
	padding: 0;
	background: #faf8ef;
	color: #776e65;
	font-family: "Lusitana", "Times New Roman", Times, serif;
	font-size: 12pt; }

p {
	margin: 0;
	line-height: 1.65;
}

a {
	color: #776e65;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

.container {
	width: 100%;
	height: calc(100% - 200px);
	position: fixed;
	top: 0;
}

#map-center {
	margin: auto;
	display: table;
}

#build-div {
	overflow: auto;
	display: none;
}

#market-div {
	text-align: center;
	overflow: auto;
	display: none;
}

#family-div {
	overflow: auto;
	display: none;
}

.content-build{
	width: 100%;
	overflow: hidden;
}

.content-market{
	display: inline-block;
	text-align: right;
}

.content-family{
	text-align: left;
	padding: 10px;
	overflow: hidden;
}

.toolbar ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50px;
    background-color: #d8d4d0;
    position: fixed;
	bottom: 0;
    overflow: auto;
	font-size: 16pt;
}

.toolbar li a {
	display: block;
    color: #000;
    text-decoration: none;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}

.toolbar li a:hover {
    background-color: #555;
    color: white;
}

.active-button {
	background-color: #999;
}

.footer-wrapper-logger{
	margin-left: 50px;
	padding: 0;
	height: 200px;
	width: calc(50% - 50px);
	position: fixed;
	float: left;
	bottom: 0;
	background-color: #555;
	color: white;
	font-size: 12pt;
	overflow: auto;
}

.footer-logger {
	padding: 5px 5px 5px 5px;
	float: left;
	width: calc(100% - 20px);
	overflow: hidden;
}

.footer-wrapper-resources{
	margin: 0;
	padding: 0;
	height: 200px;
	width: 50%;
	position: fixed;
	bottom: 0;
	right:0;
	background-color: #555;
	color: white;
	font-size: 12pt;
	overflow: auto;
}

.footer-resources {
	padding: 5px 5px 5px 5px;
	width: calc(100% - 20px);
	overflow: hidden;
}

.resource {
	border-radius: 5px;
	background-color: #776e65;
	color: white;
	float: left;
	padding: 2px;
	margin: 2px;
	width: 100px;
}

.building {
	background-color: #776e65;
	color: white;
	float: left;
	padding: 5px;
	margin: 5px;
	width: 150px;
	height: 200px;
}

.building a {
	display: block;
	background-color: #555;
    color: white;
    margin: 5px;
	padding: 5px;
    text-decoration: none;
}

.building img {
	margin: 0 35px;
	width: 80px;
	height: 80px;
}

.building-title {
	font-size: 14pt;
	margin-bottom: 5px;
}

.building-cost {
	margin-left: 5px;
}

.product {
	margin-top: 10px;
	line-height: 1.8;
}

.product a {
	display: inline;
	background-color: #776e65;
    color: white;
    margin: 5px;
	padding: 5px;
    text-decoration: none;
}

.product input {
	width: 50px;
	text-align: right;
}

.person {
	line-height: 30px;
}

.person a {
	margin: 5px;
	line-height: 20px;
	width: 20px;
	height: 20px;
	display: inline-block;
	background-color: #776e65;
	color: white;
	text-decoration: none;
	border-radius: 10px;
	text-align: center;
}

.person-info {
	margin-left: 30px;
}

.person-info a {
	margin: 0;
	width: initial;
	border-radius: initial;
	padding: 5px;
}

#info {
	display: none;
	position: fixed;
	z-index: 42;
	background: #faf8ef;
	color: #776e65;
	width: 200px;
}